page-movies {
    .page-content {
        background: color($colors, dark);
    }
    ion-card {
        position: relative;
        text-align: center;
    }
    .card {
        background: color($colors, dark);
        .watched-icon {
            display: none;
        }
        .card-subtitle {
            font-size: 1.0em;
            width: 100%;
            color: #ecf0f1;
        }
        .card-title {
            font-size: 0.9em;
            width: 100%;
            color: #ecf0f1;
            background: transparent;
        }
        &.watched {
            background: color($colors, watched);
            .watched-icon {
                display: block;
                color: color($colors, watched);
                position: absolute;
                top: 3px;
                right: 3px;
                font-size: 2em;
            }
            .card-title {
                color: color($colors, dark);
            }
            .card-subtitle {
                color: color($colors, dark);
            }
        }
    }
    .scroll-content {
        overflow: auto;
    }
    .options_button {
        color: #ecf0f1 !important;
        border-bottom-color: color($colors, danger) !important;
    }
    .search-bar {
        max-width: 60%;
    }
}
